main {
  justify-content: flex;
  text-align: center;
}
.top {
  margin-top: 10vh;
}
.page_viewall {
  justify-content: center;
  align-items: center;
}
.rec_header {
  text-align: justify;
  justify-content: center;
  display: flex;
}
.recipes {
  border: 1px solid black;
  width: max-content;
  margin-bottom: 3vh;
}
.nav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-btn {
  margin-top: 3vh;
}
.login {
  align-self: flex-end !important;
}
.signup {
  margin-right: 2vw;
}
.home-img {
  width: 6vw;
  height: auto;
}
.log-box {
  border: 2px solid black;
  width: max-content;
  display: table;
  margin: 0 auto;
  border-radius: 10%;
  padding-left: 5vw;
  padding-right: 5vw;
}
.log-pass {
  text-align: start;
  margin-bottom: 2vh;
}
.login-header {
  margin-top: 15vh;
}
#id_password {
  margin-bottom: 4vh;
  border-radius: 25px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  width: 25vw;
  height: 5vh;
}
#id_password1 {
  margin-bottom: 2vh;
  border-radius: 25px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  width: 25vw;
  height: 5vh;
}
#id_password2 {
  margin-bottom: 4vh;
  border-radius: 25px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  width: 25vw;
  height: 5vh;
}
#id_username {
  border-radius: 25px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  width: 25vw;
  height: 5vh;
}
.log-user {
  text-align: start;
}

.ton_links {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Helvetica;
  font-size: 10pt;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 40px;
  letter-spacing: -0.008em;
  text-rendering: optimizeLegibility;
  row-gap: 12px;
  column-gap: 16px;
  padding-top: 30px;
}

.ton_links1:link {
  color: grey;
  text-decoration: none;
}

.ton_links1:hover {
  text-decoration: underline;
}

.ton_links1:visited {
  color: grey;
}

.ton_links2:link {
  color: grey;
  text-decoration: none;
}

.ton_links2:hover {
  text-decoration: underline;
}
.ton_links2:visited {
  color: grey;
}

.ton_links3:link {
  color: grey;
  text-decoration: none;
}

.ton_links3:hover {
  text-decoration: underline;
}
.ton_links3:visited {
  color: grey;
}

.ton_links4:link {
  color: grey;
  text-decoration: none;
}

.ton_links4:hover {
  text-decoration: underline;
}
.ton_links4:visited {
  color: grey;
}

.ton_links5:link {
  color: grey;
  text-decoration: none;
}

.ton_links5:hover {
  text-decoration: underline;
}
.ton_links5:visited {
  color: grey;
}

.ton_links6:link {
  color: grey;
  text-decoration: none;
}

.ton_links6:hover {
  text-decoration: underline;
}
.ton_links6:visited {
  color: grey;
}

.ton_links7:link {
  color: grey;
  text-decoration: none;
}

.ton_links7:hover {
  text-decoration: underline;
}
.ton_links7:visited {
  color: grey;
}

.ton_links8:link {
  color: grey;
  text-decoration: none;
}

.ton_links8:hover {
  text-decoration: underline;
}
.ton_links8:visited {
  color: grey;
}

.cont_cont {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.112px;
  margin-top: 8vh;
  padding-bottom: 30px;
}
.last_txt {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 10pt;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;
  font-weight: 400;
}
.info {
  display: flex;
  justify-content: center;

  margin: auto;
  text-align: center;
  font-size: 10pt;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;
  font-weight: 400;
}
.home-img {
  border-radius: 50%;
}
.log-btn {
  display: block;
  margin: auto;
  width: 20vw;
  height: 5vh;
  border-radius: 20px;
  color: white;
  background-color: green;
}
.homeimg {
  width: 30vw;
  height: auto;
}
.homelog {
  width: 25vw;
  height: 5vh;
  margin-top: 10vh;
  color: green
}
.home-desc {
  font-size: 15pt;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}
